.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    height: 240px;
    margin: 0 8px;
}